<section style="border:2px solid black ;">

      <h1 class="text-center"><u> KERALA STATE RTC</u></h1>
        <h5 class="text-center">
          Concession Ticket
        </h5>
<div style="margin-left: 15%;
margin-top: 94px;
">
  <label for="">NAME:&nbsp;&nbsp;</label> <label for="">{{response.formdata.name}}</label><br>
        <label for="">COLLEGE:&nbsp;&nbsp;</label><label for="">{{response.formdata.College}}</label><br>
        <label for="">FROM:&nbsp;&nbsp;</label><label for="">{{response.formdata.From}}</label><br>
        <label for="">TO:&nbsp;&nbsp;</label><label for="">{{response.formdata.To}}</label><br>
        <label for="">VALIDITY:&nbsp;&nbsp;</label><label for="">{{response.formdata.month}}</label><br>
         <label for="">APPROVED DATE:&nbsp;&nbsp;</label><label for="">{{response.approveddate}}</label><br>
</div>
        

        <img style="height: auto;
        width: 68px;
        margin-left: 82%;
    "  src="images/toppng.com-ksrtc-logo-200x199.png" alt="">

        <p style="    margin-left: 79%;
        ">Signature of authority

        </p>
        <img style="width: 180px;
        margin-left: 79%;
        margin-top: -49%;" src="images/bar.png" alt="">

        
  </section>
<div class="text-center">
    <a href="" onclick="window.print();return false" class=" btn btn-primary">SAVE</a>
</div>
  

    
    