
    <section  style="border:3px solid black ;margin-left:9%;margin-right:9%;">


       
            <img class="mt-5" style="height:50px ; width:50px;margin-left: 50%;" src="\images\toppng.com-ksrtc-logo-200x199.png" alt="">
            <p style="margin-left:37% ;"><b>KERALA STATE ROAD TRANSPORT CORPORATION</b> </p>
            <p style="margin-left:41%;"><b>APPICATION FORM FOR CONCESSION</b> </p>
            <fieldset >
                
            <div style="margin-top: 8%; margin-left: 27%;" class="mb-3">
              <label name="" for="exampleInputEmail1" class="form-label">NAME:&nbsp;</label>
              
              <input name="name" value="{{response.formdata.name}}" style="border:none ;pointer-events: none;margin-left:13%;" type="text">
                
              
            </div>
            <div style="margin-left: 27%;" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">ADDRESS:</label>
              <input name="Address" value="{{response.formdata.Address}}"  style="margin-left:13%;border:none ;pointer-events: none;width:100%;" type="text">
              
            </div>
            <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">DATE OF BIRTH:</label>
                <input name="dateofbirth" value="{{response.formdata.dateofbirth}}"  style="margin-left:13%;border:none ;pointer-events: none;" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">COLLEGE:</label>
                <input name="College" value="GOVERNMENT COLLEGE KARIAVATTOM"  style="margin-left:13%;border:none ;pointer-events: none;width:100%" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">DEPARTMENT:</label>
                <input name="department" value="{{response.formdata.department}}"  style="margin-left:13%;border:none ;pointer-events: none;" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">YEAR OF STUDYING :</label>
                <input name="yearofstudying" value="{{response.formdata.yearofstudying}}"  style="margin-left:13%;border:none ;pointer-events: none;" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">ROOT:</label><br>
                <label for="exampleInputPassword1" class="form-label">FROM:</label>
                <input name="From" value="{{response.formdata.From}}"  style="margin-left:13%;border:none ;pointer-events: none;" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">TO:</label>
                <input name="To" value="{{response.formdata.To}}" style="margin-left:13%;border:none ;pointer-events: none;" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">VALIDITY:</label>
                <input name="month" value="{{response.formdata.month}}" style="margin-left:13%;border:none ;pointer-events: none;" type="text">
                
              </div>
              <div style="margin-left: 27%;" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">TICKET FAIR:</label>
                <input name="Fair" value="{{response.formdata.Fair}}" style="margin-left:13%;border:none ;pointer-events: none;" type="text">
  
              </div>
                <form action="/clgadmin/approve_form" method="post">
                    <input hidden name="id" type="text" value="{{response._id}}">
                    <div style="margin-left: 27%;" class="mb-3 text-danger">
                <label  class="form-label" for="">Remark:</label><br>
                <textarea name="remark" id="remark" cols="30" rows="10"></textarea>
              </div>
            <div id="bt" style="margin-left:50% ;">
              <button  onclick="return window.alert('approved')"  type="submit" class="btn btn-primary mt-5">Approve</button>
              <button onclick=" return window.confirm('Do you want to reject')" type="submit" formaction="/clgadmin/rejectform" href="" class="btn btn-danger mt-5">Reject</button>
            
            </div>

                </form>
              
            
        
            
        </fieldset>
         <img style="margin-left: 74%;
    margin-top: -144%;width: 100px;height:auto;
" src="/user-imagedata/{{response.stud}}pic.jpg" alt="dfhdfhdh">

         <img style="margin-left: 74%;width: 100px;height:auto;
    margin-top: -25%;"  src="/user-imagedata/{{response.stud}}sig.jpg" alt="dfhdfhdh">
    <div style="margin-top: -11%;"><p style="margin-left: 74%;" for="">Signature of applicant</p></div>
         
         
      
          
       

</section>



    