<section>
  <div class="container">
    <div class="row mt-5">

      

    </div>
    <h1 class="text-center"><b> <u> REJECTED COURSE CERTIFICATE FORMS</u> </b> </h1>
    <table border="2px solid black" class="table mt-5">
      <thead >
        <tr>
          
          <th scope="col">Stud Id</th>
          <th scope="col">Name</th>
          
          <th scope="col">DEPARTMENT</th>
          <th scope="col">SEMESTER</th>
          <th scope="col">ACCADEMIC YEAR</th>
               <th scope="col">REJECTED DATE</th>
          
          

        </tr>
      </thead>
      <tbody >
        {{#each response}}
        {{#eq this.dataa.ccaprove 'r'}}
        <tr>
          
          <td>{{this.id}}</td>
          <td>{{this.dataa.name}}</td>
         <td>{{this.dataa.department}}</td>
         <td>{{this.dataa.semester}}</td>
         <td>{{this.dataa.acadamicyear}}</td>
          <td>{{this.rejecteddate}}</td>
         
   
          
          
          
            
            
            
        </tr>
        {{/eq}}
        {{/each}}

      </tbody>
    </table>
    
  </div>
</section>


 