<section>
  <div class="container">
    <div class="row mt-5">

      <a href="/clgadmin/add-student" class="btn btn-success ml-auto">add student</a>

    </div>
    <h1 class="text-center"><b> <u>CONCESSION FORMS</u> </b> </h1>
    <table border="2px solid black" class="table mt-5">
      <thead >
        <tr>
        
          <th scope="col">Stud Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">DATE OF BIRTH</th>
          <th scope="col">COLLEGE</th>
          <th scope="col">DEPARTMENT</th>
          <th scope="col">YEAR OF STUDYING</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Validity</th>
          <th scope="col">Fair</th>
          <th scope="col">Image</th>
          <th  scope="col">Signature</th>

        </tr>
      </thead>
      <tbody >
        {{#each data}}
       
        {{#eq this.formdata.clgadminaprove 'w'}}
        <tr>
          
         
          
         
          <td>{{this.stud}}</td>
          
          <td>{{this.formdata.name}}</td>
          <td>{{this.formdata.Address}}</td>
          <td>{{this.formdata.dateofbirth}}</td>
          <td>{{this.formdata.College}}</td>
          <td>{{this.formdata.department}}</td>
          <td>{{this.formdata.yearofstudying}}</td>
          <td>{{this.formdata.From}}</td>
          <td>{{this.formdata.To}}</td>
          <td>{{this.formdata.month}}</td>
          <td>{{this.formdata.Fair}}</td>
          <td><img style="width: 50px; height: 50px;" src="/user-imagedata/{{this.stud}}pic.jpg" alt=""></td>
          <td>
          <td><img style="width: 50px; height: 50px;" src="/user-imagedata/{{this.stud}}sig.jpg" alt=""></td>
          <td>
          
            
            
            
            <a onclick="tick()" href="/clgadmin/preview/{{this._id}}" class="btn btn-success">Preview</a>
            
            
            
          </td>
           
        </tr>

       {{/eq}}
        {{/each}}

      </tbody>
    </table> 
  </div>
</section>


 